In [56]:
import pandas as pd 
df = pd.read_csv("input",  header=None, names=["text"])

# Rename the column to "text"
df.columns = ["text"]

# Part 1

In [46]:
string = "treb7uchet"
output = ""

for i in range(len(string)):
    if(string[i].isdigit()):
        output += str(string[i])
        break
    
for i in range(len(string) -1, -1, -1):
    if(string[i].isdigit()):
        output += str(string[i])
        break

print(int(output))

77

In [63]:
df['calibration_value'] = 0 

for index, row in df.iterrows():

    output = ""
    string = row["text"]

    for i in range(len(string)):
        if(string[i].isdigit()):
            output += str(string[i])
            break
    
    for i in range(len(string) -1, -1, -1):
        if(string[i].isdigit()):
            output += str(string[i])
            break

    df.at[index, 'calibration_value'] = int(output)

In [65]:
df.head(5)

                                       text  calibration_value
0                           9dlvndqbddghpxc                 99
1                 rtkrbtthree8sixfoureight6                 86
2    fdxrqmfxdkstpmcj7lmphgsmqqnmjrtwo3tcbc                 73
3  onetjcsmgk57nvmkvcvkdtqtsksgpchsfsjzkkmb                 57
4                     six8threepvlxttc85two                 85

In [110]:
df['calibration_value'].sum()

55386

# Part 2

In [107]:
df['updated_calibration_value'] = 0 

hashmap = {"zero" : "0" , "one" : "1", "two" : "2", "three" : "3", "four": "4","five" : "5", "six" : "6", "seven": "7" , "eight": "8", "nine" : "9" }

for index, row in df.iterrows():

    string = row["text"]
    output = ""
    substring = ""
    counter = 0

    # Forward pass
    for i in range(len(string)):

        substring += string[i]

        if ((string[i].isdigit())):
            output += string[i]
            break

        for key in hashmap.keys():
            if (key in substring):
                output += hashmap[key]
                substring = ""
                counter = 1
                break
        
        if (counter == 1):
            break

    # Reinitialising the counter
    counter = 0
     
    # Backward pass
    for i in range(len(string) - 1, -1, -1):

        substring += string[i]
        
        if ((string[i].isdigit())):
            output += string[i]
            break

        for key in hashmap.keys():
            if (key in substring):
                output += hashmap[key]
                substring = ""
                counter = 1
                break
        
        if (counter == 1):
            break

        
    df.at[index,'updated_calibration_value']= int(output)

In [109]:
df.head(5)

,text,calibration_value,updated_calibration_value
0,9dlvndqbddghpxc,99,99
1,rtkrbtthree8sixfoureight6,86,36
2,fdxrqmfxdkstpmcj7lmphgsmqqnmjrtwo3tcbc,73,73
3,onetjcsmgk57nvmkvcvkdtqtsksgpchsfsjzkkmb,57,17
4,six8threepvlxttc85two,85,65

In [111]:
df['updated_calibration_value'].sum()

54824